<div class="page-header">
  <h1><%= @user.profile_name %></h1>
</div>

<div>
  <h4>USGA Handicap Index <%= @user.hdcp %></h4>
  <br />
</div>

<div class="new_round">
  <h5><%= link_to "Record a Round", new_round_path, class: "btn btn-success" %></h5>
  <br />
</div>
<br/>
<div>
  <% if @rounds %>
    <% @rounds.sort_by! {|round| round[:played_on]} %>
    <% @rounds.reverse.each do |round| %>
      <div class="well">
        <%= round.played_on %>
        <p><strong><%= round.score %> at <%= round.course.name %></strong> HDCP Differential: <strong><%= round.hdcp %></strong></p>
      </div>
    <% end %>
  <% end %>
</div>
