<div class="new_round">
  <h5><%= link_to "Record a Round", new_round_path, class: "btn btn-success" %></h5>
</div>


<div>
  <h3>Recently Posted Rounds</h3>
</div>

<div class="rounds_container">
  <% @rounds.reverse[0...20].each do |round| %>
   
    <div class="round">
      <div class="row">
        <div class="span1">
          <!--Image Placeholder-->
        </div>
        <div class="span7">
          <strong><%=round.user.profile_name %></strong> shot <%= round.score %> at <%= round.course.print_tee %>
          <p>Round HDCP Differential: <strong><%= round.hdcp %></strong></p>
          <p>Played on <%= round.played_on %></p>
          <div class="meta">
            <%= "Posted " + time_ago_in_words(round.created_at) + " ago"%>
          </div>
        </div>
      </div>
    </div>


  <% end %>
</div>

<br/>
<br />

<div class="counter">
  <% if Round.all.length === 0 %>
    <p><%= Round.all.length %> Rounds Recorded... Be the First!</p>
  <% elsif Round.all.length === 1 %>
    <p><%= Round.all.length %> Round Recorded!</p>
  <% else %>
    <p><%= Round.all.length %> Rounds Recorded!</p>
  <% end %>
</div>

<br />

