<br />
<div class="row">
  <div class="span4">

    <%= simple_form_for(@course, html: {class: "well"}) do |f| %>
      <% if @course.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

          <ul>
          <% @course.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


      <fieldset>
        <legend>New Course</legend>
        <%= f.input :name, label: "Course Name?", required: false%>
        <%= f.input :us_state, collection: us_states, required: false %>
        
        <div><%= f.button :submit, "Add Course" %></div>
      </fieldset>



    <% end %>

  </div>

  <div class="span8">
    <h2 align="center">Tell us about where you played!</h2>
    <div><img src="/patuxent.JPG" /></div>
  </div>

</div>
